$color-gray-0: #ffffff;
$color-gray-900: #000000;
$color-pink-pastel-100: #ffcbf2;
$color-pink-pastel-200: #f3c4fb;
$color-pink-pastel-300: #ecbcfd;
$color-pink-pastel-400: #e5b3fe;
$color-pink-pastel-500: #e2afff;
$color-pink-pastel-600: #deaaff;
$color-pink-pastel-700: #d8bbff;
$color-pink-pastel-800: #d0d1ff;
$color-purple-pastel-100: #c8e7ff;
$color-blue-pastel-100: #c0fdff;
