.main-container {
  padding: 32px;

  header {
    margin-bottom: 24px;
  }

  h1 {
    text-align: center;
    font-size: 32px;
  }

  article {
    display: grid;
    justify-content: center;
    grid-template-columns: 280px;
    gap: 24px;
  }
}

@media screen and (min-width: 768px) {
  .main-container article {
    grid-template-columns: 280px 280px;
  }
}

@media screen and (min-width: 1024px) {
  .main-container article {
    grid-template-columns: 280px 280px 280px 280px;
  }
}
