.main-container {
  padding: 32px;

  header {
    margin-bottom: 24px;
  }

  h1 {
    text-align: center;
    font-size: 32px;
  }

  article {
    text-align: center;
  }

  article + article {
    margin-top: 24px;
  }

  .card-wrapper {
    display: grid;
    justify-content: center;
    grid-template-columns: 280px;
    gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .main-container .card-wrapper {
    grid-template-columns: 280px 280px;
  }
}

@media screen and (min-width: 1024px) {
  .main-container .card-wrapper {
    grid-template-columns: 280px 280px 280px 280px;
  }
}
